{% extends "base.html" %} {% block daniela %}
<!-- Jumbotron-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid, colorJumb">

            <div class="container">
                <h1 class="display-4"> Bem-Vindo ao Maxi Web </h1>
                <p class="lead"> - Gestão Financeira de qualidade
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Pensamentos -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Pensamentos sobre a Gestão Financeira
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            <li>
                <div class="timeline-badge">
                    <i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Usuários</h4>
                        <p>
                            <small class="text-muted">
                                <i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p> “Regra número 1: nunca perca dinheiro. Regra número 2: não esqueça a regra número1”. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning">
                    <i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Will Smith</h4>
                    </div>
                    <div class="timeline-body">
                        <p>“Muitas pessoas gastam o dinheiro que não tem, para comprar coisas que não precisam para impressionar
                            pessoas que não gostam”.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger">
                    <i class="fa fa-bomb"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Benjamin Franklin</h4>
                    </div>
                    <div class="timeline-body">
                        <p>“Cuidado com as pequenas despesas. Um pequeno vazamento afundará um grande navio”. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Natasha Munson</h4>
                    </div>
                    <div class="timeline-body">
                        <p>“O dinheiro, assim como as emoções, é algo que você precisa controlar para manter sua vida no caminho
                            certo”.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /.panel-body -->
</div>

{% endblock %}