{% extends "base.html" %} {% block daniela %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <i class="fa fa-laptop"></i> Informações do Usuário </h3>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/financeiro/">Home</a>
            </li>
            <li>
                <i class="fa fa-laptop"></i>Informações do Usuário</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <div>
            <label> Nome: </label>
            {{usuario.nome}}
        </div>
        <div>
            <label>CPF: </label>
            {{usuario.cpf}}
        </div>
        <div>
            <label>Data de Nascimento: </label>
            {{usuario.data_nasc | date:"d/m/Y"}}
        </div>
        <div>
            <label>Telefone: </label>
            {{usuario.tel}}
        </div>
    </div>
</div>
{% endblock %}